.card1,.card2,.card3
{
    display: flex;
    width: 200px;
    height: 70px;
    background-color: white;
    box-shadow: 2px 4px 5px grey;
    justify-content: center;
    align-items: center;
    background-color: #D32F2F !important;
    margin-top: 130px;
    margin-left: 560px;
    padding: 120px;
    
}

.mainCard
{
    margin-top: 30px;
    display: flex;
    flex-direction: block;
    justify-content: space-around;
    padding: 200px;
    flex-wrap: wrap;
}
.d1{
  padding: 10px;
}
.mainH{
  color: blue;
  font-size: larger;
  font-family:'Times New Roman', Times, serif;
  margin-left: 490px;
  margin-top: 50px;
}